.tableBody {
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 var(--indentation-3xl) 0;
  }
.tr {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--color-gray);
  border-top: 1px solid var(--color-gray);
  border-collapse: collapse;
  align-items: center;
  height: var(--line-height-l);
}
.table {
  margin: 0 20%;
}
.td {
  font-size: medium;
  width: 15vw;
}
