.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-blue);
  border-radius: var(--card-border-radius);
  width: 40vw;
  height: 45vh;
  margin: var(--indentation-xxl) auto;
}
.title{
  font-size: var(--line-height-m);
}
.transcription{
  margin-bottom: 10%;
}